/* -------------------------------- 

xColors

-------------------------------- */

$color-1: #0e1422; // Deep Navy Blue
$color-2: #f2fcec; // light yellow
$color-3: #8a898d; // Grey
$color-4: #423b0b; // Olive Green
$color-5: #ff9b42; // Orange

// additional colors

$success: #249fbb; // light blue
$alert: $color-5; // Orange