/* -------------------------------- 

xColors

-------------------------------- */

$color-1: #ff9b42; // Deep Navy Blue
$color-2: #0e1422; // Orange
$color-3: #8a898d; // Grey
$color-4: #423b0b; // Olive Green
$color-5: #fff; // White

// additional colors

$success: #249fbb; // light blue
$alert: $color-5; // Orange