@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

$primary-font: 'Zen Kurenaido', 'Open Sans', sans-serif;
$secondary-font: 'Lora', serif;
$third-font: 'Open Sans', sans-serif;